extends layout

block content
  div(id="paidholiday" class="paidholiday")
  div(class="foter")
    div(id="allsala" class="totalsalary")
    div()
    div(id="allwork" class="totalworking")
  div.swiper-container
    div(class="swiper-wrapper" id="swiper-wrapper_id")
