doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src="/javascripts/bundle.js", defer)
  body
    block content
