doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/salarylists.css')
    link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js")
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src="/javascripts/homelists.js", defer)
  body
    block content
      div(id="paidholiday" class="paidholiday")
      div.swiper-container
        div(class="swiper-wrapper" id="swiper-wrapper_id")
          
          
      
